<%- include('./layouts/header') %>

<div class="main-panel">
    <div class="content-wrapper">
      <div class="col-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Add Offer</h4>
            <div id="errorContainer" class="alert alert-danger" style="display: none;"></div> <!-- Error container -->
  
            <form id="offer-form" class="forms-sample" action="/admin/add-offer" method="POST" >
              <div class="form-group">
                <label >Offer name</label>
                <input type="text" class="form-control" id="offer-name" name="name" placeholder="Offer name" required>
              </div>
              <div class="form-group">
                <label >Starting date</label>
                <input type="date" class="form-control" id="Starting-date" name="startingDate" placeholder="Starting date" required>
              </div>
              <div class="form-group">
                <label >Expiry date</label>
                <input type="date" class="form-control" id="expiry-date" name="expiryDate" placeholder="Expiry date" required>
              </div>

              <div class="form-group">
                <label >percentage</label>
                <input type="number" class="form-control" id="percentage" name="percentage" placeholder="Percentage" required>
              </div>

              <button type="submit" class="btn btn-primary mr-2">Submit</button>
              <!-- <a href="/admin/offers"><button type="button" class="btn  mr-2">Cancel</button></a> -->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<%- include('./layouts/footer') %>