<%- include('./layouts/header') %>

<div class="container mt-5">
  <h4 class="text-center">Add Category</h4>
</div>

<div class="container p-5">
  <div class="card p-4">
    <form method="POST" action="/admin/addCategory">
      <div class="form-group">
        <label for="categoryName">Category Name:</label>
        <input
          type="text"
          class="form-control"
          id="categoryName"
          name="name"
          required
        />
      </div>

      <div class="form-group">
        <label for="description">Description:</label>
        <textarea
          class="form-control"
          id="description"
          name="description"
          rows="3"
          required
        ></textarea>
      </div>

      <label style="color: red"><%=message%></label>

      <button type="submit" class="btn btn-primary ">Save</button>
    </form>
  </div>
</div>

<style>
  .card {
    width: 50%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }

  .form-group label {
    font-weight: bold;
  }

  .form-control {
    border-radius: 5px;
  }
</style>

<%- include('./layouts/footer') %>
