<%- include('./layouts/header') %>

<div class="container mt-5">
  <h4 class="text-center mb-4">Add Coupon</h4>
</div>

<div class="container">
  <div class="card p-4">
    <form method="POST" action="/admin/addCoupon">
      <div class="form-group">
        <label for="couponCode">Coupon Code:</label>
        <input type="text" class="form-control" id="couponCode" name="code" style="text-transform: uppercase" required>
      </div>

      <div class="form-group">
        <label for="description">Description:</label>
        <textarea class="form-control" id="description" name="description" rows="3"></textarea>
      </div>

      <div class="form-group">
        <label for="discount">Discount:</label>
        <input type="text" class="form-control" id="discount" name="discount" required>
      </div>

      <div class="form-group">
        <label for="minPurchase">Minimum Purchase:</label>
        <input type="text" class="form-control" id="minPurchase" name="min" required>
      </div>

      <div class="form-group">
        <label for="maxPurchase">Maximum Purchase:</label>
        <input type="text" class="form-control" id="maxPurchase" name="max" required>
      </div>

      <div class="form-group">
        <label for="startDate">Start Date:</label>
        <input type="date" class="form-control" id="startDate" name="start" value="0" min="0" max="">
      </div>

      <div class="form-group">
        <label for="endDate">Expire Date:</label>
        <input type="date" class="form-control" id="endDate" name="end" value="" min="">
      </div>

      <button type="submit" class="btn btn-primary ">Save</button>
    </form>
  </div>
</div>

<style>
  .card {
    width: 50%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }

  .form-group label {
    font-weight: bold;
  }

  .form-control {
    border-radius: 5px;
  }
</style>

<%- include('./layouts/footer') %>
