<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERROR!!</title>
    <style>
        body {
            background-color: #F6511D;
            width: 100vw;
            height: 100vh;
            color: white;
            font-family: 'Arial Black';
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0; /* Add this line to remove default margin */
        }

        .error-num {
            font-size: 8em;
        }

        .eye {
            background: #fff;
            border-radius: 50%;
            display: inline-block;
            height: 100px;
            position: relative;
            width: 100px;
        }

        .eye::after {
            background: #000;
            border-radius: 50%;
            bottom: 56.1px;
            content: '';
            height: 33px;
            position: absolute;
            right: 33px;
            width: 33px;
        }

        p {
            margin-bottom: 4em;
        }

        a {
            color: white;
            text-decoration: none;
            text-transform: uppercase;
        }

        a:hover {
            color: lightgray;
        }
    </style>
</head>
<body>
    <div>
        <span class='error-num'>5</span>
        <div class='eye'></div>
        <div class='eye'></div>
        <p class='sub-text'>Oh eyeballs! Something went wrong. We're <i>looking</i> to see what happened.</p>
        <a href='/admin/dashboard'>Go back</a>
    </div>

    <script>
        document.body.addEventListener('mousemove', function(event) {
            var eyes = document.querySelectorAll('.eye');
            eyes.forEach(function(eye) {
                var rect = eye.getBoundingClientRect();
                var eyeX = rect.left + rect.width / 2;
                var eyeY = rect.top + rect.height / 2;
                var rad = Math.atan2(event.pageX - eyeX, event.pageY - eyeY);
                var rot = (rad * (180 / Math.PI) * -1) + 180;
                eye.style.transform = 'rotate(' + rot + 'deg)';
            });
        });
    </script>
</body>
</html>
