<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Forgot Password</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">

  <!-- CSS here -->
  <style>
    body {
      margin: 0;
      padding: 0;
      background: white;
      color: #333;
      font-family: Arial, sans-serif;
    }

    .forgot-password-form {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .forgot-password-card {
      width: 400px;
      padding: 20px;
      background: #f8f2f0;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }

    .forgot-password-title {
      text-align: center;
      font-size: 24px;
      margin-bottom: 20px;
    }

    .form-group {
      margin-bottom: 15px;
    }

    .form-group input {
      width: 93%;
      padding: 10px;
      border: 1px solid grey;
      background-color: #f0f0f0;
      border-radius: 5px;
      color: #333;
      font-size: 16px;
    }

    .form-group input::placeholder {
      color: #aaa;
    }

    .forgot-password-btn {
      width: 100%;
      padding: 10px;
      border: none;
      background: #F6511D;
      border-radius: 5px;
      color: #fff;
      font-size: 16px;
      cursor: pointer;
    }

    .forgot-password-btn:hover {
      background: #e23b08;
    }
  </style>
</head>

<body>
  <div class="forgot-password-form">
    <div class="forgot-password-card">
      <div class="forgot-password-title">Forgot Password</div>
      <form action="/forgot" method="post">
        <div class="form-group">
          <i class="fas fa-envelope"></i>
          <input type="email" name="email" placeholder="Enter Your Email" required>
        </div>
        <% if (typeof message !== 'undefined') { %>
        <span id="er2" style="color: rgb(241, 7, 7);text-align: center;"><%= message %></span>
        <% } %>
        <div class="form-group">
          <button class="forgot-password-btn" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>

  <!-- Font Awesome Icons -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
</body>

</html>


