<!doctype html>
<html lang="zxx">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>SHOW-CLUB</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="manifest" href="site.webmanifest">
  <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">

  <!-- CSS here -->


  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/css/flaticon.css">
  <link rel="stylesheet" href="/css/slicknav.css">
  <link rel="stylesheet" href="/css/animate.min.css">
  <link rel="stylesheet" href="/css/magnific-popup.css">
  <link rel="stylesheet" href="/css/fontawesome-all.min.css">
  <link rel="stylesheet" href="/css/themify-icons.css">
  <link rel="stylesheet" href="/css/slick.css">
  <!-- <link rel="stylesheet" href="/user/assets/css/nice-select.css">
        <link rel="stylesheet" href="/user/assets/css/style.css"> -->
</head>

<body style="background-color: #eee;">
  <section class=" gradient-form">
    <div class="container py-5 ">
      <div class="row d-flex justify-content-center align-items-center ">
        <div class="col">
          <div class="card rounded-3 text-black">
            <div class="row ">
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">

                  <div class="text-center">
                    <h4 class="mt-1 mb-5 pb-1">Forgot Password</h4>
                  </div>

                  <form action="/forgot" method="post">


                    <div class="form-outline mb-4">
                      <input type="Email" id="form2Example22" name="email" class="form-control" placeholder="Enter Your Email" required />
                    </div>
                    <% if(typeof message !=='undefined' ){ %>
                      <span id="er2" style="color: rgb(241, 7, 7);text-align: center;">
                        <%= message%>
                      </span>
                      <% } %>


                        <div class="text-center pt-1 mb-5 pb-1">
                          <button class="btn btn-dark btn-block fa-lg gradient-custom-2 mb-3" type="submit">submit</button>
                        </div>


                  </form>

                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>






  <!-- JS here -->

  <script src="./js/vendor/modernizr-3.5.0.min.js"></script>
  <!-- Jquery, Popper, Bootstrap -->
  <script src="./js/vendor/jquery-1.12.4.min.js"></script>
  <script src="./js/popper.min.js"></script>
  <script src="./js/bootstrap.min.js"></script>
  <!-- Jquery Mobile Menu -->
  <script src="./js/jquery.slicknav.min.js"></script>

  <!-- Jquery Slick , Owl-Carousel Plugins -->
  <script src="./js/owl.carousel.min.js"></script>
  <script src="./js/slick.min.js"></script>

  <!-- One Page, Animated-HeadLin -->
  <script src="./js/wow.min.js"></script>
  <script src="./js/animated.headline.js"></script>

  <!-- Scroll up, nice-select, sticky -->
  <script src="./js/jquery.scrollUp.min.js"></script>
  <script src="./js/jquery.nice-select.min.js"></script>
  <script src="./js/jquery.sticky.js"></script>
  <script src="./js/jquery.magnific-popup.js"></script>

  <!-- contact js -->
  <script src="./js/contact.js"></script>
  <script src="./js/jquery.form.js"></script>
  <script src="./js/jquery.validate.min.js"></script>
  <script src="./js/mail-script.js"></script>
  <script src="./js/jquery.ajaxchimp.min.js"></script>

  <!-- Jquery Plugins, main Jquery -->
  <script src="./js/plugins.js"></script>
  <script src="./js/main.js"></script>

</body>

</html>