<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Reset New Password</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">

    <!-- CSS here -->
    <style>
        body {
            margin: 0;
            padding: 0;
            background: #f0f0f0;
            color: #333;
            font-family: Arial, sans-serif;
        }

        .gradient-form {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #fff;
        }

        .card {
            width: 400px;
            padding: 20px;
            background-color: #f8f2f0;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
            color: #696969;
        }

        .card-body {
            padding: 40px;
        }

        .forgot-password-title {
            text-align: center;
            font-size: 24px;
            margin-bottom: 20px;
        }

        .form-outline {
            margin-bottom: 20px;
        }

        .form-outline input {
            width: 93%;
            padding: 10px;
            border: 1px solid grey;
            background-color: rgba(255, 255, 255, 0.1);
            border-radius: 5px;
            color: #6b6464;
            font-size: 16px;
        }

        .form-outline input::placeholder {
            color: #686868;
        }

        .forgot-password-btn {
            width: 100%;
            padding: 10px;
            border: none;
            background-color: #F6511D;
            border-radius: 5px;
            color: #fff;
            font-size: 16px;
            cursor: pointer;
        }

        .forgot-password-btn:hover {
            background-color: #e23b08;
        }
    </style>
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
    <section class="gradient-form">
        <div class="container py-5">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-xl-10">
                    <div class="card rounded-3">
                        <div class="row g-0">
                            <div class="col-lg-6">
                                <div class="card-body p-md-5 mx-md-4">

                                    <div class="text-center">
                                        <h4 class="mt-1 mb-5 pb-1 forgot-password-title">Reset New Password</h4>
                                    </div>

                                    <form action="" method="post">
                                        <div class="form-outline mb-4">
                                            <i class="fas fa-lock"></i>
                                            <input type="password" id="form2Example22" name="password" class="form-control"
                                                placeholder="Enter New Password" required />
                                            <input type="hidden" name="email" value="<%= email %>">
                                        </div>
                                        <span id="er2" style="color: red;"></span>

                                        <div class="text-center pt-1 mb-5 pb-1">
                                            <button class="forgot-password-btn" type="submit">Submit</button>
                                        </div>
                                    </form>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- JS here -->
    <script src="./user/assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="./user/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="./user/assets/js/popper.min.js"></script>
    <script src="./user/assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="./user/assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="./user/assets/js/owl.carousel.min.js"></script>
    <script src="./user/assets/js/slick.min.js"></script>

    <!-- One Page, Animated-HeadLin -->
    <script src="./user/assets/js/wow.min.js"></script>
    <script src="./user/assets/js/animated.headline.js"></script>

    <!-- Scroll up, nice-select, sticky -->
    <script src="./user/user/assets/js/jquery.scrollUp.min.js"></script>
    <script src="./user/assets/js/jquery.nice-select.min.js"></script>
    <script src="./user/assets/js/jquery.sticky.js"></script>
    <script src="./user/assets/js/jquery.magnific-popup.js"></script>

    <!-- contact js -->
    <script src="./user/assets/js/contact.js"></script>
    <script src="./user/assets/js/jquery.form.js"></script>
    <script src="./user/assets/js/jquery.validate.min.js"></script>
    <script src="./user/assets/js/mail-script.js"></script>
    <script src="./user/assets/js/jquery.ajaxchimp.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="./user/assets/js/plugins.js"></script>
    <script src="./user/assets/js/main.js"></script>
</body>

</html>
